@model MovieViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
        <div class="thumbnail movies-details">
            <img src="~/images/@Model.Image" alt="Movie image" style="display:block" width="100" class="pull-left details-img" />
            <div class="caption">
                <h3>Title: @Model.MovieTitle</h3>
                <p> Description: @Model.Description</p>
                <h5>Genre: @Model.Genre</h5>
                <p>Director: @Model.Director</p>
                <p>Language: @Model.Language</p>
                <p>Tehnology: @Model.Technology</p>
                <p>Release date: @Model.ReleaseDate</p>
                <hr />
                <p>Cast:</p>
                <ul>
                    @foreach (var actor in Model.Actors)
                    {
                        <li>@actor.FirstName @actor.LastName</li>
                    }
                </ul>

                <p>
                    <a asp-action="Index" asp-controller="Ticket"  asp-route-id="@Model.Id" class="btn btn-primary col-md-6 ticket-btn">Buy ticket</a>
                </p>
            </div>
        </div>
</div>