@model MovieViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="movies">
        <div class="thumbnail">
            <img src="~/images/Movies/@(Model.Id).png" alt="Movie image" />
            <div class="caption">
                <h3>Title: @Model.MovieTitle</h3>
                <p> Description: @Model.Description</p>
                <h5>Genre: @Model.Genre</h5>
                <p>Director: @Model.Director</p>
                <p>Language: @Model.Language</p>
                <p>Tehnology: @Model.Technology</p>
                <p>Release date: @Model.ReleaseDate</p>
                <p>Cast:</p>
                <ul>
                    @foreach (var actor in Model.Actors)
                    {
                        <li>@actor.FirstName @actor.LastName</li>
                    }
                </ul>

                <p>
                    <a asp-action="LogIn" asp-controller="User" class="btn btn-primary">Buy ticket</a>
                </p>
            </div>
        </div>
</div>