@model List<MovieViewModel>
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-justified navbar-nav">
                    <form role="search">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="label-icon">Search</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Search By User</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Search By Organization</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="Search term" value="@ViewData["Search"]" name="searchTerm">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-default">
                                    GO
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </nav>
        </div>
    </div>
</div>
<br />
<div class="row">
    @{ 
        int counter = 0;
    }
    @foreach (var movie in Model)
    {
        counter++;
        <div class="thumbnail col-md-3 text-center">
            <img src="~/images/@(counter).jpg" alt="Movie image" class="movieImage" />
            <div class="caption">
                <h3>@movie.MovieTitle</h3>
                <h4>@movie.Description</h4>
                <h5>@movie.Genre</h5>
                <p>
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
                </p>
            </div>
        </div>
    }
</div>
